-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'ANALYST', 'VIEWER');

-- CreateEnum
CREATE TYPE "FetcherType" AS ENUM ('HTTP', 'BROWSER', 'API');

-- CreateEnum
CREATE TYPE "SourceFrequency" AS ENUM ('HOURLY', 'DAILY', 'WEEKLY');

-- CreateEnum
CREATE TYPE "CrawlStatus" AS ENUM ('PENDING', 'RUNNING', 'SUCCESS', 'ERROR', 'PARTIAL');

-- CreateEnum
CREATE TYPE "Modality" AS ENUM ('EAD', 'PRESENCIAL', 'HIBRIDO', 'DESCONHECIDO');

-- CreateEnum
CREATE TYPE "ChangeType" AS ENUM ('PRICE_CHANGE', 'CAMPAIGN_ADDED', 'CAMPAIGN_REMOVED', 'ENROLLMENT_OPENED', 'ENROLLMENT_CLOSED', 'NEW_COURSE', 'COURSE_REMOVED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'VIEWER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "competitors" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "website" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "competitors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sources" (
    "id" TEXT NOT NULL,
    "competitorId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "fetcherType" "FetcherType" NOT NULL DEFAULT 'HTTP',
    "frequency" "SourceFrequency" NOT NULL DEFAULT 'WEEKLY',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crawl_runs" (
    "id" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "status" "CrawlStatus" NOT NULL DEFAULT 'PENDING',
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finishedAt" TIMESTAMP(3),
    "durationMs" INTEGER,
    "contentHash" TEXT,
    "offersFound" INTEGER NOT NULL DEFAULT 0,
    "offersNew" INTEGER NOT NULL DEFAULT 0,
    "offersChanged" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,
    "evidencePath" TEXT,

    CONSTRAINT "crawl_runs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "course_offers" (
    "id" TEXT NOT NULL,
    "competitorId" TEXT NOT NULL,
    "crawlRunId" TEXT NOT NULL,
    "sourceUrl" TEXT NOT NULL,
    "courseKey" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "area" TEXT,
    "modality" "Modality" NOT NULL DEFAULT 'DESCONHECIDO',
    "durationMonths" INTEGER,
    "fullPrice" DOUBLE PRECISION,
    "discountPrice" DOUBLE PRECISION,
    "installments" INTEGER,
    "installmentValue" DOUBLE PRECISION,
    "isPriceHidden" BOOLEAN NOT NULL DEFAULT false,
    "campaignName" TEXT,
    "campaignDeadline" TIMESTAMP(3),
    "enrollmentOpen" BOOLEAN NOT NULL DEFAULT true,
    "startDate" TIMESTAMP(3),
    "workloadHours" INTEGER,
    "description" TEXT,
    "confidenceScore" DOUBLE PRECISION NOT NULL DEFAULT 0.5,
    "priceEvidence" TEXT,
    "campaignEvidence" TEXT,
    "scrapedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isLatest" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "course_offers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "offer_change_events" (
    "id" TEXT NOT NULL,
    "offerId" TEXT NOT NULL,
    "changeType" "ChangeType" NOT NULL,
    "fieldName" TEXT,
    "oldValue" TEXT,
    "newValue" TEXT,
    "detectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "offer_change_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "competitors_slug_key" ON "competitors"("slug");

-- CreateIndex
CREATE INDEX "course_offers_courseKey_idx" ON "course_offers"("courseKey");

-- CreateIndex
CREATE INDEX "course_offers_competitorId_isLatest_idx" ON "course_offers"("competitorId", "isLatest");

-- AddForeignKey
ALTER TABLE "sources" ADD CONSTRAINT "sources_competitorId_fkey" FOREIGN KEY ("competitorId") REFERENCES "competitors"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crawl_runs" ADD CONSTRAINT "crawl_runs_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "sources"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "course_offers" ADD CONSTRAINT "course_offers_competitorId_fkey" FOREIGN KEY ("competitorId") REFERENCES "competitors"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "course_offers" ADD CONSTRAINT "course_offers_crawlRunId_fkey" FOREIGN KEY ("crawlRunId") REFERENCES "crawl_runs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "offer_change_events" ADD CONSTRAINT "offer_change_events_offerId_fkey" FOREIGN KEY ("offerId") REFERENCES "course_offers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

